<form ng-submit="save()">

    <label>Date</label>
    <input type="text" data-date-format="yyyy-mm-dd" bs-datepicker ng-model="date">

    <label>Comment</label>
    <textarea name="comment" ng-model="activity.comment" wysihtml5 id="wysihtml5" style="width:100%; height:300px">
    </textarea>

    <ul class="unstyled select-tags">
        <li ng-repeat="tag in tags | orderBy: 'name'">
            <label class="checkbox">
                <input type="checkbox" value="{{tag.objectId}}" ng-model="tag.checked" /> {{tag.name}}</i>
            </label>
        </li>
    </ul>

    <div class="input-append">
        <input type="text" ng-model="newTag" /> <button class="btn" ng-click="saveTag()" type="button">Save Tag</button>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>
